ENVIRONMENT=development
DEMO_PROCESSOR=true
MAX_UPLOAD_MB=500
STORAGE_ACCOUNT_URL=
COSMOS_ENDPOINT=
AZURE_ML_ENDPOINT=
AZURE_ML_DEPLOYMENT=
VISION_ENDPOINT=
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_DEPLOYMENT=
AZURE_FACE_ENDPOINT=
AZURE_FACE_API_KEY=
DATAFLAG_API_KEY=
DATAFLAG_ENDPOINT=https://api.dataflag.in/api/v3/rc-details
AUTOMATIC_DIRECTION_DETECTION=false
