EDGE_CONNECTOR_TOKEN=replace-with-a-private-pairing-token
STMS_API_BASE_URL=https://stmsprod-api.wonderfulgrass-31348be0.centralindia.azurecontainerapps.io
MAX_CAMERAS=2
FFMPEG_PATH=ffmpeg
FFPROBE_PATH=ffprobe
